<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Edit Connex</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>

<center>

    <div class="container mt-5">

        <form method="POST" class="form-control form-control-lg">
    <h1> Edit Connex </h1>
    <br/>
    <br/>
    <table >
          {{formconnex}}
    </table>
    <br/>
    <button class="btn btn-primary" type="submit"> <i class="bi bi-save2-fill"></i>  Editar </button>
    {% csrf_token %}

</form>

    </div>


</center>

  <br/>
 <a href="{% url 'Index' %}">
     <button type="button" class="btn btn-secondary"> <i class="bi bi-arrow-bar-left"></i>Volver al Index </button>
</a>
</body>
</html>
