<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Details</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script>

        $(document).ready(function()
        {
            $("#select1").select2({

            });
            $("#select2").select2({
            });
        });





    </script>
</head>
<br/>
<br/>
<br/>
<body>
<a href="{% url 'Index' %}">
    <button type="button" class="btn btn-secondary"><i class="bi bi-arrow-bar-left"></i>Volver al
        Index
    </button>
</a>


<center>
    <br>
    <br>
    <form method="post" action="." enctype="multipart/form-data">

        <div class="card card-primary">
            <div class="card-header">
                Sync Management
            </div>
        </div>
        <br>
        <br>
        <div class="card-body">
            <label> Conexiones </label>
            {{conex_obj.conexs_pool_fields}}
        </div>
        <div class="card-body">
            <label> Tables </label>
            {{conex_obj.tables_fields}}
        </div>
        </div>
    </form>
</center>
<br>
<br>
<br>
{% if messages %}
{% for msg in messages %}
<b>{{msg}}</b>
{% endfor %}
{% endif %}
<script>
    $(function () {
        $('select[name="conexs_pool_fields"]').on('change' , function(){
            var id = $(this).val();
            $('.js-data-example-ajax').select2({
              ajax: {
                url: 'https://api.github.com/search/repositories',
                dataType: 'json'
              }
            });
        });

</script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</body>
</html>