<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<br/>
<br/>
<br/>
<body>


<a href="{% url 'Index' %}">
    <button type="button" class="btn btn-secondary" class="text-center"><i class="bi bi-arrow-bar-left"></i>Volver al
        Index
    </button>
</a>


<center>

    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Sync Management</div>
    </div>

    <select class="form-select-sm" aria-label="Default select example">
        <option selected> Select Database</option>
        {% for element in peticion %}
        <option value="1">{{element.db_name}} of {{element.db_type}} </option>
        <a href="select_table/{{element.id}}" class="btn btn-info"> <i class="bi bi-binoculars"></i> show table </a>
        br
        {% endfor %}
    </select>
    <a href="select_table/{{element.id}}" class="btn btn-info"> <i class="bi bi-binoculars"></i> show table </a>

    <select class="form-select-sm" aria-label="Default select example">
        <option selected> Select Database</option>
        {% for element in peticion %}
        <option value="1">{{element.db_name}} of {{element.db_type}}</option>
        {% endfor %}
    </select>
</center>
<br>
<br>
<br>
{% if messages %}
{% for msg in messages %}
<b>{{msg}}</b>
{% endfor %}
{% endif %}
<center>
</center>
</body>
</html>